<%- include("template/cabecera", {tituloWeb: 'Panel de Administración' }) %>

    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- COMPRUEBA QUE EXISTEN ELEMENTOS -->
                <% if (arrayPokemon.length> 0) { %>
                    <!-- RECORREMOS ARRAY CON FOREACH -->
                    <% arrayPokemon.forEach(pokemon=> { %>
                        <!-- AQUÍ SE MUESTRAN TODOS LOS PKMN EN UNA TABLA -->
                        <tr>
                            <th scope="row">
                                <%= pokemon.id %>
                            </th>
                            <td>
                                <%= pokemon.nombre %>
                            </td>
                            <td>
                                <%= pokemon.tipo %>
                            </td>
                            <td>
                                <%= pokemon.descripcion %>
                            </td>
                            <td> Editar Borrar</td>
                        </tr>
                        <% }) %>
                        <% } %>
            </tbody>
        </table>
    </div>

    <%- include("template/footer") %>